@model hadoopDataModels

<!-- Show the cropped image in modal -->
<div class="">

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="partDescription" type="text" class="form-control has-feedback-left"
                   placeholder="Part Description" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="stdCostBasePart" type="text" class="form-control has-feedback-left"
                   placeholder="STD Cost Base Part" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="annualRepairForecast" type="text" class="form-control has-feedback-left"
                   placeholder="Annual Repair Forecast" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="extendedSpendPotential" type="text" class="form-control has-feedback-left"
                   placeholder="Extended Spend Potential" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="t1CustomerQty" type="text" class="form-control has-feedback-left"
                   placeholder="T1 Customer Qty" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="t2CustomerQty" type="text" class="form-control has-feedback-left"
                   placeholder="T2 Customer Qty" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback item form-group">
            <input asp-for="mg3" type="text" class="form-control has-feedback-left" placeholder="MG3" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

    </div>

</div>
